importFrom("utils", "installed.packages")
importFrom("utils", "tail")
importFrom(Rcpp, evalCpp)
importFrom(graphics, plot)
import(tcltk)
import(zoo)
import(Matrix)
useDynLib(RTransProb,.registration = TRUE)
export(POSIXTomatlab)
export(TransitionProb)
export(VecOfTransData)
export(cfdates)
export(cohort.CI)
export(cohort.TTC)
export(duration.CI)
export(duration.TTC)
export(expandTransData)
export(fromThresholds)
export(getPIT)
export(matlabToPOSIX)
export(toThresholds)
export(transForecast)
export(transForecast_ann)
export(transForecast_lda)
export(transForecast_mnl)
export(transForecast_svm)
export(transitionprobbytotals)